<%= image_tag('projects_icon.svg', :class => 'category-icon')%>

<%= link_to (image_tag('VIVE-LOGO.png', :class => 'project-logos')), 'http://www.viveproject.co'%>

<%= link_to (image_tag('that1spot-logo.png', :class => 'project-logos')), 'http://that1spot.com'%>



<div class="content-separator"></div>
