
<%= image_tag('skills-icon.svg', :class => 'category-icon')%>	

<ul class="pull-right">
	<li class="skills-text">Email Marketing, Market Research & Surveying with Mailchimp, and SurveyMonkey</li>
	<li class="skills-text">SEO - keyword analysis, keyword usage and targeting, on-page SEO, and link building</li>
	<li class="skills-text">Social media marketing - Twitter, Facebook, Google+, Pinterest, Tumblr, Instagram, etc.</li>
	<li class="skills-text">Product Launch Management, Product Development, User Interface, and User Experience</li>
	<li class="skills-text">Online Analysis: Google Analytics, Addthis Analytics, SEOmoz Analytics</li>
	<li class="skills-text">Budget Management, ROI Analysis, Competitve Analysis</li>
	<li class="skills-text">Adobe Creative Suite: Photoshop, and Illustrator, etc.</li>
	<li class="skills-text">Microsoft Office Suite: Word, Excel, Access, and PowerPoint, etc.</li>
	<li class="skills-text">System Administrator on SalesForce.com CRM, Hyperion</li>
	<li class="skills-text">Ruby, Ruby on Rails, HTML5, CSS, Javascript, jQuery, Twitter Bootstrap</li>
</ul>


<div class="content-separator"></div>
