/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html,body {
	background-color: #f2f2f2;
}

.home-icon{
	width: 55px;
}

.image {
	background-color: #f2f2f2;
/*	margin-top: 100px;*/
	margin-bottom: 40px;
	width: 60%;
}

.content-separator {
	border-top: 1px solid #bababa;
	clear: both;
	margin: 40px 0 40px 0;
	width: 100%;
}

.category-separator {
	border-top: 1px dashed #bababa;
	clear: both;
	margin: 20px 0 40px 0;
	width: 100%;
}

.project-container{
	border: 1px solid #bababa;
/*	margin-left: 20px;*/
	margin-top: 20px;
	padding: 20px;
}

.home-quote-content{
	font-family: helvetica neue;
	font-size: 1.3em;
	font-weight: 200;
	line-height: 1.75em;
	text-align: right;
}

.home-quote-content-focus{
	color: #FF9933;
	font-family: helvetica neue, tahoma;
	font-size: 2.75em;
}

.center-icons{
	text-align: center;
}

.category-icon{
/*	margin: -200px 0 0 -100px;*/
	padding-right: 20px;
	text-align: center;
}

.project-logos{
	width: 200px;
	padding-left: 40px;
	padding-right: 40px;
}

.skill-logos{
	width: 100px;
	padding: 20px;
}

.category-text{
	color: #1384C7;
	font-size: 2.0em;
}

.rec-image{
	margin: 10px;
}

.skills-text{
	font-family: helvetica neue, helvetica;
	font-size: 1.4em;
	font-weight: 200;
	line-height: 2.0em;
}


